<div class="standard">

  <titulo-servico dinamico="!(isNew)" titulo-statico="tituloStatico"
                  ng-if="menuAcessos"
                  class="texto-principal"></titulo-servico>


  <form name="form" ng-submit="validar() && salvar()" novalidate>

    <div layout-margin="5" layout="row" layout-xs="column">
      <md-input-container flex>
        <label>{{'label-nome-titulo' | translate}}*</label>
        <input ng-model="servico.titulo"
               md-maxlength="100"
               name="{{'label-nome-titulo' | translate}}"
               ng-required="true">
      </md-input-container>

      <!-- <md-datepicker-custom ng-model="servico.dataVigencia" layout-xs
                     md-placeholder="{{'label-inicio-vigencia' | translate}}*"
                     style="margin-top: 15px; margin-right: 0px;"
                     name="{{'label-data-virgencia' | translate}}"
                     md-custom-mask="99/99/9999"
                     md-custom-clean-mask="false"
                     ng-change="validarDataVirgencia()">
      </md-datepicker-custom> -->
    </div>

    <div layout="row" layout-margin="5">
      <md-input-container flex>
        <label>{{'label-subtitulo' | translate}}*</label>
        <input ng-model="servico.subtitulo" md-maxlength="400"
               name="{{'label-subtitulo' | translate}}" required>
      </md-input-container>
    </div>

    <div layout="row" layout-margin="5" class="margem-link">
      <md-input-container flex class="margem-link">
        <label>{{'label-inserir-link' | translate}}{{(servico.formularioWeb) ? '' : '*'}}</label>
        <input ng-model="servico.link"
               md-maxlength="100"
               ng-required="!(servico.formularioWeb)"
               ng-disabled="isFormulario()"
               name="{{'label-link' | translate}}">
      </md-input-container>
    </div>
    <div class="row iframe-margem" layout-margin="5" ng-if="servico.link">
      <md-input-container flex class="iframe-link">
        <md-checkbox ng-model="servico.utilizarIframe" ng-value="servico.utilizarIframe" class="md-primary">
          {{'abrir-iframe' | translate}}
        </md-checkbox>
      </md-input-container>
    </div>

    <div layout="row" layout-xs="column" layout-margin="5">
      <md-input-container flex>
        <label>{{'label-formulario-web' | translate}}{{(servico.link) ? '' : '*'}}</label>
        <md-select ng-model="servico.formularioWeb"
                   ng-disabled="servico.link"
                   ng-required="!servico.link"
                   ng-model-options="{trackBy: '$value.id'}"
                   ng-change="selecionarFormulario()"
                   name="{{'label-formulario-web' | translate}}">
          <md-option value="{{null}}">
            {{'selecione' | translate}}
          </md-option>
          <md-option ng-repeat="formulario in formularios"
                     ng-value="{{formulario}}">
            {{formulario.nomeFormulario}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container flex>
        <label>{{'label-assuntos' | translate}}*</label>
        <md-select ng-model="servico.assunto"
                   ng-required="true"
                   ng-model-options="{trackBy: '$value.id'}" name="{{'label-assuntos' | translate}}">
          <md-option value="{{null}}">{{'selecione' | translate}}</md-option>
          <md-option ng-repeat="assunto in assuntos" ng-value="{{assunto}}">
            {{assunto.descricao}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

    <label style="padding-left: 18px;">{{'label-descricao' | translate}}</label>
    <div layout="row" layout-margin="5">
      <md-input-container flex="100" class="textangular">
        <div text-angular
            ng-model="servico.descricao"
            name="descricao" ta-max-text="400"
            ta-toolbar-button-class="btn btn-default" ta-toolbar-button-active-class="active"
            name="{{'label-descricao' | translate}}">
        </div>
      </md-input-container>
    </div>

    <div layout="row" layout-margin="5">
      <md-input-container flex>
        <label>{{'label-palavras-chaves' | translate}}*
          <md-tooltip>
            {{'pressione-enter' | translate}}
          </md-tooltip>
        </label>
        <md-chips ng-model="palavrasChaves"
                  ng-required="true"
                  readonly="false" name="{{'label-palavras-chaves' | translate}}"
                  delete-button-label="{{'label-delete-button-palavra-chave' | translate}}"
                  delete-hint="{{'delete-hint-palavra-chave' | translate}}"
                  secondary-placeholder="{{'secondary-placeholder-palavra-chave' | translate}}"
                  placeholder="Pressione Enter">
        </md-chips>
      </md-input-container>
    </div>

    <div layout="row" ng-if="isFormulario()" layout-margin="5">
      <md-input-container flex="50" ng-if="servico.formularioWeb.nomeFormulario!=REQUERIMENTO_CONSULTA_DOMINIALIDADE && servico.formularioWeb.nomeFormulario!=REQUERIMENTO_GESTAO_PRAIAS">
        <label>{{'label-unidade-atendente' | translate}} {{servico.etapaTriagem ? '*' : ''}}</label>
        <md-select ng-model="servico.grupoUnidadeSEI"
                   multiple="servico.etapaTriagem"
                   ng-disabled="!servico.etapaTriagem"
                   ng-required="servico.etapaTriagem"
                   name="{{'label-unidade-atendente' | translate}}">
          <md-option ng-value="{{grupo}}"
                     ng-repeat="grupo in gruposSei">
                     {{grupo.descricao}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container flex="50" ng-show="servico.formularioWeb.nomeFormulario==REQUERIMENTO_CONSULTA_DOMINIALIDADE || servico.formularioWeb.nomeFormulario==REQUERIMENTO_GESTAO_PRAIAS">
          <md-checkbox ng-model="servico.etapaTriagem"
                       ng-selected="servico.etapaTriagem"
                       aria-label="Incluir etapa de triagem"
                       ng-change="selecionarEtapaTriagem()"
                       class="md-primary">
            {{'incluir-etapa-triagem' | translate}}
          </md-checkbox>
      </md-input-container>

    </div>


    <md-content ng-if="isFormulario() || servico.link != undefined">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="{{'solicitante' | translate}} {{servico.link == undefined ? '*' : ''}}">
          <md-content class="md-padding">
            <div layout="row" flex ng-include="'scripts-servicos/pages/servicos/view/adicionarSolicitante.tmpl.html'"></div>
          </md-content>
        </md-tab>
        <md-tab label="{{'dados-documentos' | translate}}">
          <md-content class="md-padding">
            <div layout="row" flex ng-include="'scripts-servicos/pages/servicos/view/adicionarDocumentos.tmpl.html'"></div>
          </md-content>
        </md-tab>

        <md-tab label="{{'checklist-triagem' | translate}}"
                ng-disabled="!isFormulario()">
          <md-content class="md-padding">
            <adicionar-checklist layout="row" flex ng-model="listas.triagem"
                                 checklists="servico.triagens"
                                 label-nome="'triagem' | translate"
                                 nome-checklist="'checklist-triagem' | translate | uppercase"
                                 label-excluir-item-checklist="'excluir-item-checklist-triagem' | translate"></adicionar-checklist>
          </md-content>
        </md-tab>

        <md-tab label="{{'declaracoes' | translate}} {{servico.link == undefined ? '*' : ''}}"
                ng-disabled="!isFormulario()">
          <md-content class="md-padding">
            <div layout="row" flex ng-include="'scripts-servicos/pages/servicos/view/adicionarDeclaracao.html'"></div>
          </md-content>
        </md-tab>

        <md-tab label="{{'checklist-analise-tecnica' | translate}}"
                ng-disabled="!isFormulario()">
          <md-content class="md-padding">
            <adicionar-checklist layout="row" flex ng-model="listas.analiseTecnica"
                                 checklists="servico.analisesTecnicas"
                                 label-nome="'analise-tecnica' | translate"
                                 nome-checklist="'checklist-analise-tecnica' | translate | uppercase"
                                 label-excluir-item-checklist="'excluir-item-checklist-analise-tecnica' | translate"></adicionar-checklist>
          </md-content>
        </md-tab>

      </md-tabs>
    </md-content>

        <!-- botoes -->
        <div layout="row" layout-sm="column" layout-align="end center">
            <md-button class="md-raised" ui-sref="servicos.SERVICOS_CONSULTAR_SERVICOS">
                {{'btn-retornar' | translate | uppercase}}
            </md-button>
            <md-button class="md-raised" type="submit">
                {{'btn-gravar' | translate | uppercase}}
            </md-button>
        </div>
    </form>
</div>
